<footer class="footer section pb-3 @@classes overflow-hidden">
    <div class="container">
        <div class="row">
            <div class="col-12 col-xl-4">
                <a class="footer-brand mr-lg-5" href="@@path/index.html">
                    <img src="@@path/assets/img/brand/light.svg" alt="Footer logo">
                </a>
                <p class="my-4">Create, prototype, collaborate and turn your ideas into incredible products with the definitive platform for digital design.</p>
                <div class="dropdown mb-5 mb-xl-0">
                    <a id="langsDropdown" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle footer-language-link">
                        <img src="@@path/assets/img/flags/romania.svg" alt="flag" class="language-flag">Romanian<i class="fas fa-chevron-down ml-1"></i>
                    </a>
                    <div aria-labelledby="langsDropdown" class="dropdown-menu dropdown-primary dropdown-menu-center text-dark mt-2">
                        <a href="#" class="dropdown-item text-sm text-dark"><img src="@@path/assets/img/flags/united-states.svg" alt="flag" class="language-flag">English</a>
                        <a href="#" class="dropdown-item text-sm text-dark"><img src="@@path/assets/img/flags/france.svg" alt="flag" class="language-flag">French</a>
                    </div>
                </div>
            </div>
            <div class="col-6 col-xl-2 mb-5 mb-xl-0">
                <h5 class="mb-3">Themesberg</h5>
                <ul class="links-vertical">
                    <li><a target="_blank" href="https://themesberg.com/blog">Blog</a></li>
                    <li><a target="_blank" href="https://themesberg.com/products">Products</a></li>
                    <li><a target="_blank" href="https://themesberg.com/about">About Us</a></li>
                    <li><a target="_blank" href="https://themesberg.com/contact">Contact Us</a></li>
                </ul>
            </div>
            <div class="col-6 col-xl-2 mb-5 mb-xl-0">
                <h5 class="mb-3">Other</h5>
                <ul class="links-vertical">
                    <li><a href="@@path/docs/introduction.html">Documentation<span class="badge badge-sm badge-secondary ml-2">v1.0</span></a></li>
                    <li><a href="@@path/docs/changelog.html">Changelog</a></li>
                    <li><a href="https://themesberg.com/contact" target="_blank">Support</a></li>
                    <li><a href="https://themesberg.com/licensing" target="_blank">License</a>
                    </li>
                </ul>
            </div>
            <div class="col-12 col-xl-4 mb-5 mb-xl-0">
                <h5 class="mb-3">Subscribe</h5>
                <p class="font-sm">The latest Impact news, articles, and resources, sent straight to your inbox every month.</p>
                <form action="#" class="row">
                    <div class="col-8">
                        <input type="email" class="form-control mb-0" placeholder="Email Address" name="email" required>
                    </div>
                    <div class="col-4 pl-0 pr-2">
                        <button type="submit" class="btn btn-secondary animate-up-2">Subscribe</button>
                    </div>
                </form>
                <small class="mt-3 form-text">We’ll never share your details. See our <a class="font-weight-bold" href="@@path/html/legal.html">Privacy Policy</a></small>
            </div>
        </div>
        <hr class="my-lg-5">
        <div class="row">
            <div class="col pb-4 mb-md-0">
                <div class="d-flex text-center justify-content-center align-items-center">
                    <p class="font-weight-normal mb-0">© <a href="https://themesberg.com" target="_blank">Themesberg</a> <span class="current-year"></span>. All rights reserved.</p>
                </div>
            </div>
        </div>
    </div>
</footer>